{% extends 'master.html.twig' %}
{% block body %}
    <h1>Icons List</h1>
    <h2>Pok&eacute;mon</h2>
    <ul class="pkm-list">
        {% for pkm in pokemon_icons %}
            <li class="pkm-list-item" title="{{ pkm.form_name|default(pkm.name) }}">
                <a href="{{ pkm.resource_url }}" target="_blank">
                    <i class="pkm-icon"><img src="{{ pkm.icon_url }}"/></i>
                    #{{ pkm.id }} - {{ pkm.name }}
                </a>
            </li>
            {% if pkm.forms|length > 0 %}
                {% for form in pkm.forms %}
                    <li class="pkm-list-item pkm-list-item--form">
                        <i class="chain-arrow">↳</i>
                        <i class="pkm-icon pkm-icon--form"><img src="{{ form.icon_url }}"/></i>
                        {{ form.name }}
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
    <hr>
    <h2>Items</h2>
    <ul class="pkm-list">
        {% for item in item_icons %}
            <li class="pkm-list-item" title="{{ item.name }}">
                <a href="{{ item.resource_url }}" target="_blank">
                    <i class="pkm-icon"><img src="{{ item.icon_url }}"/></i>
                    #{{ item.id }} - {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}